# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup

# Crash log files
crash.log

# Exclude Terraform variable files (sensitive)
*.tfvars
*.tfvars.json

# Override files (used locally only)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration
.terraformrc
terraform.rc
